# Python cache
__pycache__/
*.pyc

# Environments
venv/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data & Large Files
dataset/
student_resource/dataset/
*.tsv
*.zip
*.pkl

# Generated artifacts (keep folder placeholders)
results/*
!results/.gitkeep
output/*
!output/.gitkeep
logs/*
!logs/.gitkeep

# OS
.DS_Store
